.nav
  position: fixed
  top: 0
  left: 0
  display: flex
  background-color: rgba(31, 31, 31, 0.95)
  width: 94%
  z-index: 9999
  justify-content: space-between
  align-items: center
  padding: 15px 3%
  border-bottom: 1px solid #aeaeae

.logo
  img
    width: 50px
    object-fit: cover

.cart-indicator
  padding: 0 5px
  height: 10px
  border: 2px solid rgba(245, 24, 0, 0.85)
  border-radius: 50px
  color: rgba(245, 24, 0, 0.85)
  font-weight: bold
