<div class="container" *ngIf="menuList.length">

  <div class="menu-wrapper flex space-between">
    <button mat-icon-button [routerLink]="[home ? home : '']"><mat-icon>arrow_back</mat-icon></button>
    <h1>Меню</h1>
  </div>


  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of menuList" [expanded]="category.id === '0'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{category.label}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="menu-item" *ngFor="let item of category.items">
        <h3>{{item.label}}</h3>
        <p>{{item.description}}</p>
        <div class="bottom-item flex space-between">
          <h5>{{item.price}}</h5>
          <button mat-raised-button (click)="addToCart(item)"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
