/* You can add global styles to this file, and also import other style files */
body
  margin: 0
  padding: 0
  background-color: #282828
  color: #ffffff

.container
  width: 90%
  margin: 20px auto

.text-center
  text-align: center

.gap-h
  height: 60px

.gap-h-sm
  height: 20px

.full-width
  width: 100%

.flex
  display: flex
  align-items: center

.space-between
  justify-content: space-between

.flex-center
  justify-content: center

.stick-bottom
  position: fixed !important
  left: 0
  top: calc(100vh - 36px)
